@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-xl-3 col-md-6 col-sm-6">
        <a href="#">
            <div class="ms-card card-gradient-custom ms-widget ms-infographics-widget ms-p-relative">
                <div class="ms-card-body media">
                    <div class="media-body">
                        <h6>Doctors</h6>
                        <p class="ms-card-change">4567</p>
                    </div>
                </div>
                <i class="fas fa-stethoscope ms-icon-mr"></i>
            </div>
        </a>
    </div>

    @* ... các phần dashboard khác ... *@
</div>
